[credential]
	helper = store
[push]
  default = simple
[alias]
  aa = add --all
  amend = commit --amend
  br = branch
  changes = diff --name-status
  ci = commit
  cia = commit --all
  cim = commit -m
  cima = commit --all -m
  co = checkout
  dic = diff --cached
  dis = diff --stat
  lg = log --pretty=oneline --abbrev-commit --graph --decorate
  s = status
  undo = reset --soft HEAD^
